{% extends "base.html" %}

{% block title %}태그 글 리스트{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="mt-2">Posts for tag - {{ tagname }}</h3>
        <hr>
        <div class="card">
            <div class="card-body">
                {% for post in object_list %}
                    <h3><a href="{% url 'post:detail_post' post.id %}">글 제목 : {{ post.title }}
                    <p>작성자 : {{ post.writer.last_name }}{{ post.writer.first_name }} - {{ post.updated_at|timesince}}전</p>
                </h3></a>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}