{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">글 작성하기</h5>
    <form method="POST" class="post-form my-3" action="/post/create/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">작성하기</button>
            <a href="/" class="btn btn-secondary">돌아가기</a>
        </div>
    </form>
</div>
{% endblock %}