<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>Hello {{request.user.username}} </h1>
        <a href="{% url 'user:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'user:login' %}">로그인</a>
        <a href="{% url 'user:signup' %}">회원가입</a>
    {% endif %}
    
    <form method="GET" action="{% url 'user:user_search' %}">
        <input type="text" name="query" placeholder="Search" value="{{ request.GET.query }}">
        <select name="search_by">
            <option value="ID" {% if request.GET.search_by == 'ID' %}selected{% endif %}>ID</option>
            <option value="first_name" {% if request.GET.search_by == 'first_name' %}selected{% endif %}>이름</option>
        </select>
        <button type="submit">Search</button>
    </form>

</body>
</html>